<%= link_to 'Create a new hook', new_integration_slack_incoming_webhook_path %>

<table class="table">
  <tbody>
    <% @hooks.each do |hook| %>
    <tr>
      <td>
	<%= link_to hook.name, hook %>
      </td>
      <td>
	<%= link_to 'Edit', edit_integration_slack_incoming_webhook_path(hook), class: 'btn btn-default' %> 
	<%= link_to 'Delete', hook, method: :delete, class: 'btn btn-danger' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
